<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo"
                    width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/powder-coating">Services</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Powder Coating</li>
                    <li>Cerakote Coating</li>
                    <li>Sand Blasting / Media Blasting</li>
                    <li>Mobile Sand Blasting</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <!-- <li>
                        <a href="/contact">First Address Line<br>Denver CO 80206</a>
                    </li> -->
                    <li>
                        <a href="tel:+19892891344">+19892891344 </a>
                    </li>

                    <li>
                        <a href="mailto:johnd.u.of.m@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a style="color: #fff" href="www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website
            Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>